{{#mcim-struc}}
  <form>
    <div class="spc-bottom-2">
      <h1 class="font-size-7 text-center font-family-2 letter-spacing-1">
        {{equation.operator_one}}
        {{equation.operation.symbol}}
        {{equation.operator_two}}
        =
      </h1>
    </div>

    <div class="spc-bottom-2 text-indent-3">
      {{input type="text"
              pattern="[0-9]*"
              value=equation.user_input
              name="equation-user-input"
              class="form-control input-lg"
              autofocus=true
              autocomplete="off"
              required=true}}
    </div>

    <div class="text-center">
      <button class="btn btn-success btn-block" {{action 'submit'}}>
        Submit
        <label class="label-in-btn label-in-btn-success">{{score}}</label>
      </button>
    </div>
  </form>
{{/mcim-struc}}
